<% include ../partials/header %>



<div class="form-center">
	<h2>Comment on <%=post.title%> </h2>
	<form action="/post/<%=post._id%>" method="POST">
		<div class="form-group">
		   <input class="form-control" type="text" name="comment" placeholder="your comment">
		</div>
		<div class="form-group">
			<input class="form-control" type="text" name="author" placeholder="your name">
		</div>
		<div class="form-group">
			<input class="form-control" type="submit" value="submit">
		</div>

	</form>

</div>


<% include ../partials/footer %>